.contain {
    display: flex;
    justify-content: space-around;
    
    gap: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    gap: 15px;

}
.submit {
    padding: 5px 10px;
    border-radius: 20px;
    align-self: flex-end;
    
}