
.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 25px;
}
