.top {
    display:flex;
    justify-content: space-between;
}
.top p {
    line-height: 1%;
}
 .top a:hover {
    color: rgb(92, 25, 154);
    
}
.top a {
    text-decoration: none;
    
}
.headInfo {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    max-height: 300px;
}
.headInfo p {
    margin:auto;
    margin-left: 0px;
}
.nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:50px
}

.hl {
    border: .05px solid black;
    margin: 0px;
}
.all {
    background-color: white;
    margin: 5% 10%;
    padding: 3% 3%;
}
body {
    background-color: rgb(230, 230, 230);
}

div {
    font-family: Arial, Helvetica, sans-serif;
}


.footer p {
    text-align: center;
}